apiVersion: v1
kind: Secret
metadata:
  name: {{ include "axon-server.fullname" . }}
  labels:
    {{- include "axon-server.labels" . | nindent 4 }}
type: Opaque
stringData:
  axon-server.yml: |
    {{- with .Values.config.listener }}
    {{- toYaml . | nindent 4 }}
    {{- end }}

    search_db:
      hosts:
        {{- range .Values.searchDb.hosts }}
        - {{ . }}
        {{- end }}
      username: {{ .Values.searchDb.username }}
      password: {{ .Values.searchDb.password }}
      skip_verify: {{ .Values.searchDb.skip_verify }}

    org_name: {{ .Values.config.org_name }}
    {{- if .Values.config.license_key }}
    license_key: {{ .Values.config.license_key }}
    {{- end }}

    axon_dash_url: {{ .Values.dashboardUrl }}

    # Log to stdout for Kubernetes
    log_file: /dev/stdout

    {{- if .Values.config.alerting }}
    alerting:
      {{- toYaml .Values.config.alerting | nindent 6 }}
    {{- end }}

    {{- if .Values.config.tls }}
    tls:
      {{- toYaml .Values.config.tls | nindent 6 }}
    {{- end }}

    {{- if .Values.config.auth }}
    auth:
      {{- toYaml .Values.config.auth | nindent 6 }}
    {{- end }}

    {{- if .Values.config.extraConfig }}
    {{- toYaml .Values.config.extraConfig | nindent 4 }}
    {{- end }}