apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "axon-server.fullname" . }}
  labels:
    {{- include "axon-server.labels" . | nindent 4 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "axon-server.selectorLabels" . | nindent 6 }}
  serviceName: {{ include "axon-server.fullname" . }}
  podManagementPolicy: {{ .Values.podManagementPolicy }}
  updateStrategy:
    {{- toYaml .Values.updateStrategy | nindent 4 }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print .Template.BasePath "/secret.yaml") . | sha256sum }}
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
        {{- with .Values.deployment.annotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "axon-server.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "axon-server.serviceAccountName" . }}
      {{- if .Values.podSecurityContext.enabled }}
      securityContext:
        {{- if .Values.podSecurityContext.fsGroup }}
        fsGroup: {{ .Values.podSecurityContext.fsGroup }}
        {{- end }}
        {{- if .Values.podSecurityContext.runAsUser }}
        runAsUser: {{ .Values.podSecurityContext.runAsUser }}
        {{- end }}
        {{- if .Values.podSecurityContext.runAsNonRoot }}
        runAsNonRoot: {{ .Values.podSecurityContext.runAsNonRoot }}
        {{- end }}
      {{- end }}
      initContainers:
{{- if and .Values.persistence.enabled .Values.persistence.enableInitChown }}
      - name: fsgroup-volume
        image: "{{ template "axon-server.dockerRegistry" . }}{{ .Values.persistence.image | default "busybox" }}:{{ .Values.persistence.imageTag | default "latest" }}"
        imagePullPolicy: "{{ .Values.image.pullPolicy | default "IfNotPresent" }}"
        command: ['sh', '-c']
        args:
          - 'chown -R 9988:9988 /var/lib/axonops'
        securityContext:
          runAsUser: 0
        resources:
          {{- toYaml .Values.initResources | nindent 10 }}
        volumeMounts:
          - name: "data"
            mountPath: /var/lib/axonops
      containers:
{{- end }}
      - name: {{ .Chart.Name }}
        {{- with .Values.securityContext }}
        securityContext:
          {{- toYaml . | nindent 12 }}
        {{- end }}
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        command: ["/usr/share/axonops/axon-server", "-o", "stdout"]
        {{- if .Values.deployment.env }}
        env:
        {{- range $key, $value := .Values.deployment.env }}
        - name: {{ $key | quote }}
          value: {{ $value | quote }}
        {{- end }}
        {{- end }}
        {{- if .Values.deployment.secretEnv }}
        envFrom:
        - secretRef:
            name: {{ .Values.deployment.secretEnv }}
        {{- end }}
        ports:
        - name: api
          containerPort: {{ .Values.config.listener.api_port }}
          protocol: TCP
        - name: agent
          containerPort: {{ .Values.config.listener.agents_port }}
          protocol: TCP
        {{- if .Values.startupProbe }}
        startupProbe:
          {{- toYaml .Values.startupProbe | nindent 12 }}
        {{- end }}
        {{- if .Values.livenessProbe }}
        livenessProbe:
          {{- toYaml .Values.livenessProbe | nindent 12 }}
        {{- end }}
        {{- if .Values.readinessProbe }}
        readinessProbe:
          {{- toYaml .Values.readinessProbe | nindent 12 }}
        {{- end }}
        resources:
          {{- toYaml .Values.resources | nindent 12 }}
        volumeMounts:
        - name: config
          mountPath: /etc/axonops
        - name: logs
          mountPath: /var/log/axonops
        {{- if .Values.persistence.enabled }}
        - name: data
          mountPath: /var/lib/axonops
        {{- end }}
        {{- if .Values.config.sslSecretName }}
        - name: ssl-certs
          mountPath: /ssl
          readOnly: true
        {{- end }}
        {{- with .Values.extraVolumeMounts }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
      - name: config
        secret:
          secretName: {{ include "axon-server.fullname" . }}
      - name: logs
        emptyDir: {}
      {{- if not .Values.persistence.enabled }}
      - name: data
        emptyDir: {}
      {{- end }}
      {{- if .Values.config.sslSecretName }}
      - name: ssl-certs
        secret:
          secretName: {{ .Values.config.sslSecretName }}
      {{- end }}
      {{- with .Values.extraVolumes }}
      {{- toYaml . | nindent 6 }}
      {{- end }}
  {{- if .Values.persistence.enabled }}
  volumeClaimTemplates:
  - metadata:
      name: data
      labels:
        {{- include "axon-server.labels" . | nindent 8 }}
      {{- with .Values.persistence.annotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
    spec:
      accessModes:
        - {{ .Values.persistence.accessMode }}
      {{- if .Values.persistence.storageClass }}
      {{- if (eq "-" .Values.persistence.storageClass) }}
      storageClassName: ""
      {{- else }}
      storageClassName: {{ .Values.persistence.storageClass }}
      {{- end }}
      {{- end }}
      resources:
        requests:
          storage: {{ .Values.persistence.size }}
  {{- end }}