---
apiVersion: v1
kind: ConfigMap
metadata:
  name: broker-axon-config
  namespace: ${KAFKA_NAMESPACE}
data:
  axon-agent.yml: |
    axon-server:
        hosts: "${AXON_AGENT_SERVER_HOST}"
        tls_mode: "${AXON_AGENT_TLS_MODE}"

    axon-agent:
        org: "${AXON_AGENT_ORG}"
        cluster_name: "${AXON_AGENT_CLUSTER_NAME}"
        key: "${AXON_AGENT_KEY}"

    kafka:
      node_type: "kraft-broker"
      group: "axonops"
      datacenter: "${AXON_AGENT_DATACENTER}"
      config:
        kafka:
          brokers: ["0.0.0.0:9092"]
          sasl:
            enabled: false
      metrics:
        enabled: true
        request_interval: 5s
