---
apiVersion: v1
kind: ConfigMap
metadata:
  name: broker-axon-config
data:
  axon-agent.yml: |
    axon-server:
        hosts: "YOUR_AXONOPS_HOST"

    axon-agent:
        org: "YOUR_ORG_NAME"
        cluster_name: "YOUR_CLUSTER_NAME"
        key: "YOUR_AXONOPS_API_KEY"

    kafka:
      node_type: "kraft-broker"
      group: "axonops"
      datacenter: "testdc"
      config:
        kafka:
          brokers: ["0.0.0.0:9092"]
          sasl:
            enabled: false
      metrics:
        enabled: true
        request_interval: 5s
