name: Helm Charts Test

on:
  push:
    branches:
      - development
      - 'feat/**'
      - 'feature/**'
      - 'fix/**'
    paths:
      - 'strimzi/**'
      - '.github/workflows/strimzi-cloud-install-test.yml'
  pull_request:
    branches:
      - main
      - development
    paths:
      - 'strimzi/**'
      - '.github/workflows/strimzi-cloud-install-test.yml'
  workflow_dispatch:

env:
  STRIMZI_VERSION: "0.50.0"
  KAFKA_VERSION: "4.1.1"
  AXONOPS_AGENT_VERSION: "2.0.15"
  AXONOPS_JAVA_AGENT_VERSION: "0.1.6"
  KUBERNETES_VERSION: "v1.28.0"

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create Kind Cluster
        uses: helm/kind-action@v1
        with:
          cluster_name: kind-cluster
          node_image: kindest/node:${{ env.KUBERNETES_VERSION }}

      - name: Install Strimzi Helm Chart
        run: |
          helm repo add strimzi https://strimzi.io/charts/
          helm repo update
          helm install strimzi strimzi/strimzi-kafka-operator --wait \
            --namespace strimzi --create-namespace \
            --set watchAnyNamespace=true \
            --version ${{ env.STRIMZI_VERSION }}

      - name: Create Kafka Cluster using single node example
        run: |
          kubectl create namespace $KAFKA_NAMESPACE
          for yaml in examples/strimzi/single/*.yaml; do
            envsubst < "$yaml" | kubectl apply -f - -n $KAFKA_NAMESPACE
          done
        env:
          STRIMZI_CLUSTER_NAME: github-cluster
          KAFKA_VERSION: ${{ env.KAFKA_VERSION }}
          KAFKA_NAMESPACE: kafka
          KAFKA_CONTAINER_IMAGE: ghcr.io/axonops/strimzi/kafka:${{ env.STRIMZI_VERSION }}-${{ env.KAFKA_VERSION }}-${{ env.AXONOPS_AGENT_VERSION }}-${{ env.AXONOPS_JAVA_AGENT_VERSION }}
          AXON_AGENT_TLS_MODE: TLS
          AXON_AGENT_CLUSTER_NAME: github-cluster
          AXON_AGENT_ORG: ${{ secrets.AXON_AGENT_ORG }}
          AXON_AGENT_KEY: ${{ secrets.AXON_AGENT_KEY }}
          AXON_AGENT_SERVER_HOST: ${{ secrets.AXON_AGENT_SERVER_HOST }}

      - name: Wait for Kafka Cluster to be Ready
        run: |
          kubectl wait --namespace $KAFKA_NAMESPACE \
            --for=condition=ready pod \
            -l strimzi.io/cluster=$STRIMZI_CLUSTER_NAME \
            --timeout=300s
        env:
          STRIMZI_CLUSTER_NAME: github-cluster
          KAFKA_NAMESPACE: kafka
